background {
    border-radius: 8px;
}

.planify-main {
    background-color: @window_bg_color;
    border-top: 1px solid @item_border_color;
    border-radius: 0;
    font-size: 10pt;
}

.planify-main .sidebar-pane {
    box-shadow: none;
}

.planify-main .content-pane {
    border-left: 1px solid @item_border_color;
}
